body
{
    background-image:linear-gradient(to right bottom, mediumturquoise, darkgreen);
}
.heading
{
    font-size:25px;
    margin:0px;
}
#heading2
{
    font-size:15px;
}
canvas
{
    box-sizing: 5px 5px 5px darkturquoise;
}