body
{
    background: linear-gradient(to right bottom mediumspringgreen, darkgreen);
}
.heading
{
    font-size:25px;
    margin:0px;
}
#heading2
{
    font-size:15px;
}
canvas
{
    box-sizing: 5px 5px 5px darkturquoise;
}